body {
  background-color: #222222;
  color: #ffffff;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 10% 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

p {
  margin: 0 0 10.5px;
}

a {
  color: #0ce3ac;
  text-decoration: none;
}

header a {
  position: relative;
  padding: 10px 15px;
  border-radius: 4px;
  color: #ffffff;
}

blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 18.75px;
  border-left: 5px solid #464545;
}

blockquote footer, blockquote small, blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}

.pill-active {
  background-color: #375a7f;
}

.text-muted {
  color: #999999;
}

.text-primary {
  color: #375a7f;
}

.text-warning {
  color: #f39c12;
}

.text-danger {
  color: #e74c3c;
}

.text-success {
  color: #00bc8c;
}

.text-info {
  color: #3498db;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  display: block;
  width: 30%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #375a7f;
  border-color: #375a7f;
}

/*Fix lambda-comments background*/
.comments__preview___EE-sL {
  background: none;
  border: 0px;
}

/*Remove marketing for lambda-comments*/
.comments__marketing___3IrGS {
    display: none;
}

/*CSS is based on https://bootswatch.com/darkly/ I didn't use it directly to accomplish a more minimal site.*/

S
